<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Formulaire Livre</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" th:if="${mode=='new'}"> Ajout des Livres </div>
			<div class="card-header" th:if="${mode=='edit'}"> Modification des Livres </div>

			<div class="card-body">
				<form th:action="@{/saveProduit}" th:object="${book}" method="post">
					<input name="page" th:value="${currentPage}" />
					<input name="size" th:value="${size}" />
					<div class="form-group" th:if="${mode=='edit'}">
						<label class="control-label" hidden>ID Livre :</label>
						<input type="hidden" th:field="*{idBook}" class="form-control" />
					</div>

					<div class="form-group">
						<label class="control-label">Nom du Livre :</label>
						<input type="text" th:field="*{BookName}" class="form-control" />
						<span th:errors="*{BookName}" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="control-label">Prix du Livre :</label>
						<input type="text" th:field="*{BookPrice}" class="form-control" />
						<span th:errors="*{BookPrice}" class="text-danger"></span>
					</div>

					<div class="form-group">
						<label class="control-label">Date de création :</label>
						<input type="date" th:field="*{dateCreation}" class="form-control" />
						<span th:errors="*{dateCreation}" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Genre :</label>
						<!-- si le livre a déjà un genre -->
						<select name="genre" class="form-control" th:value="${book.genre.IdG}"
							th:if="${!#strings.isEmpty(book.genre)}">
							<option th:each="g : ${genres}" th:if="${mode=='edit'}" th:value="${g.IdG}"
								th:text="${g.NameG}" th:selected="${g.IdG == book.genre.IdG}">
							</option>
						</select>

						<!-- s'il s'agit d'un ajout (mode==new) ou d'une modification d'un livre ayant un genre null -->
						<select name="genre" class="form-control" th:if="${#strings.isEmpty(book.genre)}">
							<option th:each="g : ${genres}" th:value="${g.IdG}" th:text="${g.NameG}">
							</option>
						</select>
					</div>


					<div>
						<button type="submit" class="btn btn-primary">Valider</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>