<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="utf-8">
    <title>Book Managing</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>

<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/BookList}">Books Managing</a>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/BookList}">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Books
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" th:href="@{/BookList}">Browse list</a>
                <a sec:authorize="hasAnyAuthority('ADMIN', 'AGENT')"
                   class="dropdown-item"
                   th:href="@{/showCreate}">
                    Add a book
                </a>
            </div>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-3 text-white align-self-center" sec:authorize="isAuthenticated()">
            Signed in as <strong class="ml-1" sec:authentication="name"></strong>
        </li>
        <li class="nav-item mr-3 text-white align-self-center" sec:authorize="hasAuthority('ADMIN')">
            Role: Admin
        </li>
        <li class="nav-item mr-3 text-white align-self-center" sec:authorize="hasAuthority('AGENT')">
            Role: Agent
        </li>
        <li class="nav-item mr-3 text-white align-self-center" sec:authorize="!isAuthenticated()">
            Guest mode
        </li>
        <li class="nav-item" sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
</body>
</html>
